doctype html
html(lang='ru' ng-app)
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content="IE=edge,chrome=1")
        meta(name='viewport' content='width=device-width')

        link(rel="icon" href="favicon.ico" type="img/x-icon")
        link(rel="stylesheet", href="bower/normalize-css/normalize.css")
        link(rel="stylesheet" href="css/main.css")
        link(href='https://fonts.googleapis.com/css?family=Montserrat:700,400' rel='stylesheet' type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css')

        //link(href='bower/bootstrap/dist/css/bootstrap.css' rel='stylesheet' type='text/css')
        //link(href='bower/bootstrap/dist/css/bootstrap-theme.css' rel='stylesheet' type='text/css')
        //link(href='bower/uikit/css/uikit.css' rel='stylesheet' type='text/css')
        //link(href='bower/uikit/css/uikit.almost-flat.css' rel='stylesheet' type='text/css')
        //link(href='bower/magic/magic.css' rel='stylesheet' type='text/css')

        //script(type="text/javascript" src="https://www.google.com/jsapi")
        script(type="text/javascript" src="bower/jquery/dist/jquery.js")
        //script(type="text/javascript" src="bower/bootstrap/dist/js/bootstrap.js")
        //script(type="text/javascript" src="bower/uikit/js/uikit.js")

        title Dev

    body
        nav
            menu.nav-list(label="text" type= "context")
                li.menu_home.menu_button.active HOME
                li.menu_skills.menu_button SKILLS
                li#logo LOGO
                li.menu_gallery.menu_button GALLERY
                li.menu_contacts.menu_button CONTACTS


        .container
            section.home.active
                .content

                    //(style="padding-left: 100px")
                    h2 Здравствуйте, меня зовут Гончар Елизавета,
                    h2 я - Front-end разработчик
                    h2 и верстка сайтов это наименьшее что я могу для Вас сделать!

            section.skills
                .content
                    main.skills-chart
                        //h3 я знаю
                        //#bar-chart
                        h3 я учю
                        #pie-chart
            section.gallery
                .content
                    h2 Мои чудные работы
                    ul.top
                        li.galleryItem
                            a.caption(href="#" data-title="Colored landscape" data-description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id sapien condimentum, sagittis erat rhoncus, bibendum nisi.")
                                img(src="img/menu.jpg" alt="Landscape image")
                        li.galleryItem
                            a.caption(href="#" data-title="Black &amp; white photo"  data-description="Vivamus ut sem id magna consequat porta vitae ut sem. Proin eget commodo risus, vitae blandit velit. ")
                                img(src="img/vizitka.jpg" alt="Landscape image")


            section.contacts
                .content
                    h2 Contact
                    p Прошу писать и деньги слать по этому адресу
        script(src="js/index.js" type="text/javascript")
