

@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
@import url(https://fonts.googleapis.com/css?family=Montserrat);

@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);
@import url(https://fonts.googleapis.com/css?family=Roboto);



* , body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  overflow-x: hidden;

  background: #ffffff url("../img/background.svg") no-repeat ;
  background-size:  cover ;
}

//.magictime {
//  -webkit-animation-duration: .6s;
//  -o-animation-duration: .6s;
//  -moz-animation-duration: .6s;
//  animation-duration: .6s;
//
//  -webkit-animation-delay: 1s;
//  -o-animation-delay: 1s;
//  -moz-animation-delay: 1s;
//  animation-delay: 1s;
//}


nav{
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  width: 100%;
  height: 140px;
  line-height: 56px;

}


.menu_button , #logo{
  background: #BD1369;
  list-style: none;
  padding: 0 5px;
  text-align: center;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  color: white;
 position: absolute;
  //vertical-align: inherit;
  line-height: 120px;
  -webkit-box-shadow: 4px 4px 10px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 4px 10px 1px rgba(0,0,0,0.75);
  box-shadow: 4px 4px 10px 1px rgba(0,0,0,0.75);
  }
.menu_button{
list-style: none;
float: left;
padding: 0 35px;
text-align: center;
transition: background-color 0.3s;

&:hover, &:active {
  cursor: pointer;
  background-color: rgba(0,0,0,.1);
}

&.active {
  background-color: rgba(0,0,0,.1);
}
}




#logo {
  top: 1%;
  left: 43%;
  height: 140px;
  width: 140px;
  background: #A49064 url("../img/gold.svg") no-repeat;
}



.container {
  position: relative;
  //max-width: 970px;
  margin: 0 ;
  height: 50%;
  width: 100%;

}

section {
  position: absolute;
  padding: 25px;
  top: 0;
  opacity: 0;
  transition: all 0.3s;

  &.active {
    opacity: 1;
  }
}

.content{
  font-family: 'Montserrat', sans-serif;
  color: #333;
  background-color: #fff;
  margin-top: 20px;
  width: 100%;
    & h1{
    color: #1a2c51;
  }

}
.menu_home{
  background: #611BC4 url("../img/purple.svg") no-repeat;
  top: 24%;
  left: 12%;
  //position: relative;
}
.menu_skills{
  background: #950095 url("../img/pink.svg") no-repeat;
  top: 9%;
  left: 27%;
}
.menu_gallery{
  background: #007A86 url("../img/mint.svg") no-repeat;
  top: 9%;
  left: 60%;

}

.menu_contacts{
  background: #143FBC url("../img/blue.svg") no-repeat;
  top: 24%;
  left: 75%;
}
section {
  position: absolute;
  //padding: 25px;
  opacity: 0;
  -webkit-transition: all 2s;
  transition: all 2s;
}


//.skills p {
//  text-indent: 20px;
//}
//.skills h5 {
 // margin-top: 20px;
//}

//.contacts p {
//  margin-bottom: 10px;
//  text-indent: 20px;
////}
//.active.pusher{
// left: 15%;
//}


//
//.pusher {
//  top: 50px;
//  bottom: -100%;
//  position: absolute;
//  width: 70%;
//  height: 100%;
//  box-sizing: border-box;
//  //transition: bottom 2s cubic-bezier(0.39, 0.58, 0.57, 1);
//  transition-property: bottom;
//  transition-duration: 2s;
//
//}






//CHART SKILL

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);


main {
  width: 300px;
  margin: 5px auto;
  padding: 0 20px 0;
  background: #FFF;
  /*   box-shadow: 0 3px 5px rgba(0,0,0,0.2); */
}

#bar-chart {
  width: 300px;
  height: 150px;
  position: relative;
}

#bar-chart::before {
  content: "";
  position: absolute;
  display: block;
  width: 110px;
  height: 15px;
  left: 105px;
  top: 0;
  background: #FAFAFA;
  /*   box-shadow: 1px 1px 0 0 #DDD; */
}
#pie-chart {
  width: 250px;
  height: 125px;
  position: relative;
}
#pie-chart::before {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 115px;
  left: 165px;
  top: 0;
  background: #FAFAFA;

}


//GALLERY MY WORK




a {
  text-decoration: none;
}

/* TITLES
===================================================== */
//.pageTitle {
//  display: block;
//  margin: 0 0 0.2em 0;
//  font-size: 2.2em;
//  line-height: 1em;
//  color: #3CA0D0;
//}
//
//.pageSubtitle {
//  display: block;
//  margin: 0 0 0.4em 0;
//  font-size: 1.4em;
//  line-height: 1em;
//  color: #333;
//}

/* EFFECTS
===================================================== */
.roundedCorners {
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.roundedCornersTop {
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

.roundedCornersBottom {
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

.boxShadow {
  -webkit-box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}

/* LAYOUT
===================================================== */

.top {
  width: 100%;
  //padding: 20px 0;
  text-align: center;
}


.footer {
  width: 96%;
  padding: 2%;
  background: #222;
  border-top: solid 3px #086FA1;
}

/* GALLERY
===================================================== */
.galleryItem {
  display: inline-block;;
  position: relative;
  width: 150px;
  height: 150px;
  padding: 0;
  //margin: 0 20px;
}

.galleryItem img {
  width: 100%;
  height: 100%;
  //border: solid 10px #fff;
}

.caption {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 150px;
  height: 150px;
  z-index: 10;
}

.caption::before {
  content: attr(data-title);
  position: absolute;
  top: -50%;
  left: 0;
  width: 100%;
  height: 50%;
  //padding: 10px;
  font-family: 'Croissant One', cursive;
  font-size: 1.8em;
  //font-weight: 600;
  line-height: 1.4em;
  color: #086FA1;
  background: #fff;
  overflow: hidden;

  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.caption::after {
  content: attr(data-description);
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 50%;
  //padding: 10px;
  font-family: 'Poiret One', cursive;
  font-size: .9em;
  font-weight: 400;
  line-height: 1.4em;
  color: #fff;
  background: #222;
  overflow: hidden;

  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.caption:hover::before {
  top: 0;
}

.caption:hover::after {
  bottom: 0;
}


